* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu_wrap .menu {
    font-size: 0;
}

.menu_wrap .menu > li {
    display: inline-block;
    width: 100px;
    background: white;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
}

.menu_wrap .menu a {
    display: block;
    padding: 10px 0;
}

.menu_wrap .menu a:hover {
    background: #325cb2;
    color: #fff;
}

.menu_wrap .menu > li:hover > .sub_m {
    display: block;
}

.menu_wrap .sub_m {
    display: none;
}